.blog {
  padding-top:20px;

  .title {
  margin: 0px 0px 40px 0px;

  .float-right {
    font-size: 12px;
    margin-top: 5px;
    }
  }

  .author {
    font-size:15px;
    color: #696969;

    a {
      color: #696969;
    }
  }

  .comments-count{
    font-size: 14px;
    color: #696969;
  }
}

.emty-list {
  margin-top: 20%;
}


